<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Website</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <h2>Travel Explore</h2>
            <ul>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="page.html">Home</a></li>
               
        
                <li><a href="weather.html">Weather Report</a></li>
                <li><a href="Blog Page.html">Blog</a></li>
                <li><a href="planning.html">Travel Planning</a></li>
                <li><a href="currencyc.html">Currency Convertor</a></li>
                <li><a href="travel.html">log out</a></li>

            </ul>
        </nav>
        <main class="content">
            <header>
                <h1>Sairag</h1>
                <p>!Travel far, dream big, and make memories that last a lifetime.
                    Welcome to your ultimate travel planning destination! Here, 
                    we believe that every adventure begins with a well-crafted itinerary.
                     Whether you’re dreaming of exploring hidden gems or visiting iconic landmarks,
                      our expert team is dedicated to helping you unlock the world. With personalized plans tailored to your unique preferences, we take the hassle out of travel, so you can focus on what truly matters—creating unforgettable memories. Step into your next adventure with confidence;
                       we’ll handle the details, ensuring your journey is as smooth as it is exciting!</p>
            </header>
            <section>
                
                <div class="destination-container">
                    <div class="destination">
                        <img src="images/paris.jpg" alt="Paris">
                        
                        
                    </div>
                    <div class="destination">
                        <img src="images/images.jpeg.jpg" alt="Tokyo">
                        
                        
                    </div>
                    <div class="destination">
                        <img src="images/newyork.jpeg.jpg" alt="New York">
                        
                       
                    </div>
                    <div class="destination">
                        <img src="page1.webp" alt="Travel">
                        
                 </div>
                
            </section>
            
            
        </main>
    </div>
</body>
</html>
